<div class="jumbotron">
<h1>To jest moja strona internetowa</h1>
<p>To będzie działać w przyszłości</p>
<%= link_to 'O mnie', home_about_path, class: 'btn btn-default btn-lg' %>
<%= link_to 'Strona główna', root_path, class: 'btn btn-primary' %>	
</div>